.projects {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

h1 {
  font-size: 2.3rem;
  margin-left: 40px;
}
.container-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.container-grid .project-card {
  padding: 20px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.container-grid .project-card .project-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-title {
  font-size: 1.6rem !important;
}
.container-grid .project-card .project-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: justify;
}
.container-grid .project-card .technology-stack {
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-grid .project-card .technology-stack span {
  margin-right: 10px;
  margin-bottom: 10px;
}

.container-grid .project-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_pres {
  opacity: 65%;
  margin-bottom: 20px;
  transition: 0.4s ease-in-out;
}

.img_pres:hover {
  opacity: 90%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  h1 {
    text-align: center;
    align-items: center;
    margin-left: 0 !important;

  }

  .card-spotlight{
    margin: 15px;
  }

}
