:root {
  --light-theme-background: rgb(255, 255, 255);
  --light-theme-color: #000000;
  --dark-theme-background: #000000;
  --dark-theme-color: rgb(255, 255, 255);
}

.highlightName {
  color: #a020f0;

  text-shadow: 0 0 10px rgba(160, 32, 240, 0.6),
    0 0 20px rgba(160, 32, 240, 0.4), 0 0 30px rgba(160, 32, 240, 0.2),
    0 0 40px rgba(160, 32, 240, 0.1);
  transition: text-shadow 0.3s ease-in-out;
}

.highlightName:hover {
  text-shadow: 0 0 15px rgba(160, 32, 240, 0.7),
    0 0 25px rgba(160, 32, 240, 0.5), 0 0 35px rgba(160, 32, 240, 0.3),
    0 0 45px rgba(160, 32, 240, 0.1);
}
.app {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

#light {
  background-color: var(--light-theme-background);
  color: var(--light-theme-color);
}

#dark {
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-color);
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.postgresql {
  background-color: #2e72bb;
  color: #fff;
}
.windows {
  background-color: #3c4852;
  color: #fff;
}

.reactjs {
  background-color: #5bceee;
  color: #fff;
}
.networking {
  background-color: #0180ff;
  color: #fff;
}

.git {
  background-color: #e34c2f;
  color: #fff;
}

.linux {
  background-color: #86bf43;
  color: #fff;
}

.javascript {
  background-color: #ead41c;
  color: #fff;
}

.css {
  background-color: #1f8ee7;
  color: #fff;
}
.html {
  background-color: #d94924;
  color: #fff;
}

.bash {
  background-color: #07ac4e;
  color: #fff;
}

.sql {
  background-color: #2f5c8b;
  color: #fff;
}

.apis {
  background-color: #f19d0e;
  color: #fff;
}

.c {
  background-color: #c03a14;
  color: #fff;
}

.lua {
  background-color: #423f7a;
  color: #fff;
}

.adobe-photoshop {
  background-color: #430135;
  color: #fff;
}

.python {
  background-color: #8d75ff;
  color: #fff;
}
.php {
  background-color: #d63aff;
  color: #fff;
}
